@import "tailwindcss";

:root {
  --background: #f5f8f5;
  --foreground: #0f172a;
}

@theme {
  --color-primary: #006600;
  --color-secondary-gold: #D4AF37;
  --color-background-light: #f5f8f5;
  --color-background-dark: #0f230f;
  --color-accent: #d4af37;
  --font-display: "Manrope", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f230f;
    --foreground: #f1f5f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}
